*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background: rgb(212, 0, 255);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 255, 255);
    
}
/* css for form */
#about{
    position: relative;
}
#mainForm{
    height: 420px;
    width: 350px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    background-color: white;
    display: none;
    transition: 0.5s;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    padding: 30px 20px;
}
#mainForm form{
    flex-direction: column;
    gap: 20px;
    display: flex;
}
#mainForm h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.entery{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.entery input{
    border: 1px solid black;
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
}
.entery #area{
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
}
.entery .entery-btn{
    background-color: green;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
}
@media(max-width:415px){
    #mainForm{
        width: 224px;
        padding: 30px 10px;
    }
}
/* css for bar */
nav{
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
nav a{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li a{
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
nav ul li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -5px;
    align-items: center;
    transition: 0.3s;
}
nav ul li a:hover::before{
    width: 100%;
}

nav i{
    font-size: 20px;
    color: white;
    display: none;
}
.arrow{
    border: 1px solid white;
    width: 100%;
    background-color: orangered;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    align-items: center;
}

@media(max-width:768px){
    nav ul{
        display: none;
        flex-direction: column;
        height: 400px;
        position: absolute;
        top: 75px;
        right: 0px;
        z-index: 999;
        background-color: black;
        width: 100%;
        align-items: center;
        padding-top: 30px;
    }
    nav ul li{
        padding-top: 20px;
        text-align: center;
    }
    nav i{
        display: block;
    }
   
}
.home-sec{
    /* height: calc(100vh - 80px); */
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 80px;
}
.left{
    width: 50%;
    /* height: 100%; */
    /* border: 1px solid black; */
    padding-left: 20px;
}
.right{
    width: 50%;
    /* height: 100%; */
    /* border: 1px solid black; */
    padding-right: 20px;
}
.right img{
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text h1{
    font-size: 80px;
}
.text p{
    font-size: 20px;
}
.text a{
    color: white;
    font-weight: 700;
    background-color: rgb(255, 60, 0);
    width: 120px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}
.text a::before{
    content: "";
    position: absolute;
    height: 90px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation: circle 1s linear infinite;
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    transform: rotate(30deg);
}
@keyframes circle {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 300px;
    }
}
@media(max-width:952px){
    .home-sec{
        flex-direction: column ;
        /* background-color: red; */
        margin-top: 0px;
    }
    .text h1{
        font-size: 50px;
    }
    .text p{
        font-size: 15px;
    }
    .right{
        padding: 0;
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .home-sec{
        margin-top: 30px;
        justify-content: flex-start;
    }
    
}
@media(max-width:400px){
    .text h1{
        font-size: 58px;
    }
    .right img{
        width: 350px;
    }
    .home-sec{
        margin-top: 30px;
        justify-content: flex-start;
    }
}
.about-sec h1{
    margin-top: 500px;
}
/* about section */

body{
    background-color: #f2f2f2;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about_img{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about_img img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about_img:hover img{
    transform: scale(1.1);
}
.about_content{
    flex: 1
}
.about_content a{
    color: white;
    background-color: rgb(255, 30, 0);
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    margin-top: 20px;
    font-weight: 700;
}
@media screen and (max-width:768px) {
    .heading{
        padding: 0 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0;
    }
    .container{
        padding: 0;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about_img{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .about_content{
        padding: 0;
        font-size: 16px;
    }
    
}

/* service section start here */
.service-sec , .whyus h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
.row-1{
    /* border: 1px solid black; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box-1 a{
    background-color: orangered;
    width: 150px;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px;
}
.box-1{
    height: 100%;
    width: 30%;
    border: 1px solid black;
    padding: 20px 20px;
}
.main-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-1 img{
    width: 80%;
}
.box-1 h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: orangered;
}
.box-1 .image{
    /* border: 1px solid black; */

}
.main-feature{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.feature-row{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
    /* padding: 10px 50px; */
    justify-content: space-around;
    display: flex;
}
.feature-col{
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 10px;
    height: 100%;
    width: 500px;
    background-color: white;
    box-shadow: 1px 1px 20px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 100px;
}
.text-1 h2{
    /* border: 1px solid black; */
    text-align: center;
}
.text-1 p{
    text-align: center;
}
@media screen and (max-width:320px){
    .box-1 a{
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .service-sec ,.whyus h1{
        margin-top: 80px;
        font-size: 36px;
        font-weight: 700;
    }
    
   
}
@media(max-width:450px){
    .row-1{
        flex-direction: column;
        height: 1200px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 20px;
    }
    .box-1{
        width: 100%;

    }
    
    .feature-row{
        flex-direction: column;
        height: 500px;
        gap: 50px;
        align-items: center;
    }
    .feature-col{
        width: 100%;
    }
    .main-feature{
        padding: 0 30px;
        gap: 100px;
    }
    .box-1 img{
        width: 100%;
    }
    .box-1 h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .feature-col{
        /* border: 1px solid rgb(0, 0, 0); */
        border-radius: 10px;
        height: 100%;
        width: 370px;
        background-color: white;
        box-shadow: 1px 1px 20px black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        /* padding: 10px 10px; */
        /* box-sizing: border-box; */
    }
}
.main-place{
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.place-row{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
}
.place-col{
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    height: 100%;
    width: 250px;
    padding: 10px;
    overflow: hidden;
}
.pla{
    padding-top: 90px;
    text-align: center;
}
.pla h1{
    font-size: 40px;
}
.place-col .img{
    height: 80%;
    width: 100%;
    /* border: 1px solid black; */
}
.img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
}
.place-col h3{
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 20px;
}
.place-col:hover img{
    scale: 1.2;
}
@media(max-width:450px){
    .main-place{
        /* flex-direction: column; */
    }
    .place-row{
        flex-direction: column;
        height: 1000px;
        gap: 40px;
        width: 100%;
        align-items: center;
    }
    .place-col{
        width: 300px;
    }
    .pla h1{
        font-size: 30px;
    }
}
/* contact us section start here */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
}
.contact .content p{
    
    font-weight: 300;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: orangered;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 700;
}

@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    
}
@media(max-width:320px){
    .mapy{
        width: 300px;
    }
}


